<section
	class="container
prose
mx-auto
hover:scroll-auto
prose-h1:mb-0
prose-h1:pb-0
prose-p:mb-12
hover:prose-a:text-blue-300
prose-ul:mt-2
dark:prose-invert"
>
	<div class="">Hi, my name is Alex, I'm currently a grad student in the Abbasi lab at UCSF.
  Previously I worked in the Seeley lab and at a startup called Nano Precision Medical. 
  I like biology and computers. Also eating. <br /><br /></div>
</section>
